<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Item</h5>
          <p><strong>ID</strong>: {{Items.id}}</p>
          <p><strong>Name</strong>: {{Items.itemName}}</p>
          <p><strong>Category</strong>: {{Items.itemCategory}}</p>
          <p><strong>State</strong>: {{Items.itemState}}</p>
          <p><strong>Price</strong>: {{Items.itemPrice}}</p>
          <p><strong>Description:</strong> {{Items.itemDescription}}</p>
          <img class="photo" src={{Items.itemPhoto}}>
          <p><a href="/">← Back To Home</a></p>
        </div>
      </div>
    </div>
  </div>
</div>