<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Item</h5>
          <p><strong>ID</strong>: {{example.id}}</p>
          <p><strong>Name</strong>: {{example.text}}</p>
          <p><strong>Category</strong>: {{items.item_category}}</p>
          <p><strong>State</strong>: {{items.item_state}}</p>
          <p><strong>Price</strong>: {{items.item_price}}</p>
          <p><strong>Description:</strong> {{example.description}}</p>
          <img class="photo" src={{example.photo_url}}>
          <p><a href="/">← Back To Home</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
