<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Item</h5>
          <img class="photo" src={{Items.itemPhoto}} width="400px">
          <p><strong>ID</strong>: <span id="item_id">{{Items.id}}</span></p>
          <p><strong>Name</strong>: {{Items.itemName}}</p>
          <p><strong>Category</strong>: {{Items.itemCategory}}</p>
          <p><strong>Item State</strong>: {{Items.itemState}}</p>
          <p><strong>Price</strong>: {{Items.itemPrice}}</p>
          <p id="address-street"><strong>Street Address</strong>: {{Items.addressStreet}}</p>
          <p id="address-state"><strong>State</strong>: {{Items.addressState}}</p>
          <p><strong>Description:</strong> {{Items.itemDescription}}</p>
          <div id="map" style="width: 320px; height: 480px;"></div>
          <br>
          <p><a href="/">← Back To Home</a></p>
        </div>
      </div>
      {{!-- <p><a href="/chat">chat</a></p> --}}
    </div>
  </div>
</div>
<br>
<div class="container my-4">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="m-0">Bid On This Item</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 offset-2">
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="bid_username">Username</label>
            <input type="text" class="form-control mb-2" id="bid_username" placeholder="Enter your username">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="newBid">Bid</label>
            <input type="text" class="form-control mb-2" id="newBid" placeholder="Enter your bid amount">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2" id="submitBid">Submit Bid</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<div class="container my-4">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="m-0">Current Bids</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 offset-2" id="bid-list">
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bid.js"></script>
<script async defer <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTbS7SNpGMxfTjkNT-8yiuRJ4S7QZ51K4&callback=initMap" async
  defer></script>
<script src="../js/maps.js"></script>