<div class="container-fluid" id="item-container">
  <div class="row">
    <div class="col-6" style="margin: 0 auto">
      <div class="card mt-4">
        <div class="card-body" id="item-card">
          {{#if Items.itemSold}}
          <h2 class="card-title">This item is SOLD</h2>
          {{/if}}
          <h5 class="card-title" style="text-align: center">Item</h5>
          <div class="row item-div" style="margin: 0 auto">
            <div class="col-6 photo-div">
              <img class="photo" src={{Items.itemPhoto}} width="300px">
            </div>
            <div class="col-4 offset-1 info-div">
              <p><strong>ID</strong>: <span id="item_id">{{Items.id}}</span></p>
              <p><strong>Name</strong>: {{Items.itemName}}</p>
              <p><strong>Category</strong>: {{Items.itemCategory}}</p>
              <p><strong>Item State</strong>: {{Items.itemState}}</p>
              <p><strong>Price</strong>: {{Items.itemPrice}}</p>
              <p id="address-street"><strong>Street Address</strong>: {{Items.addressStreet}}</p>
              <p id="address-state"><strong>State</strong>: {{Items.addressState}}</p>
              <p><strong>Description:</strong> {{Items.itemDescription}}</p>
            </div>
          </div>
          <div class="row" style="margin: 0 auto">
            <div id="map" style="width: 100%; height: 420px; padding: 20px"></div>
          </div>
          <br>
          <p><a href="/">← Back To Home</a></p>
        </div>
      </div>
      {{!-- <p><a href="/chat">chat</a></p> --}}
    </div>
  </div>
</div>

<div class="container my-4" id="bid-item">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="m-0">Bid On This Item</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 offset-2">
      <form>
        <div class="form-row align-items-center">
          {{#if Items.itemSold}}
          <div class="col-auto">
            <label class="sr-only" for="bid_username">Username</label>
            <input type="text" class="form-control mb-2" id="bid_username" placeholder="Enter your username" readonly>
          </div>
          <div class="col-auto">
            <label class="sr-only" for="newBid">Bid</label>
            <input type="text" class="form-control mb-2" id="newBid" placeholder="Enter your bid amount" readonly>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2" id="submitBid" disabled>Submit Bid</button>
          </div>
          {{else}}
          <div class="col-auto">
            <label class="sr-only" for="bid_username">Username</label>
            <input type="text" class="form-control mb-2" id="bid_username" placeholder="Enter your username">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="newBid">Bid</label>
            <input type="text" class="form-control mb-2" id="newBid" placeholder="Enter your bid amount">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2" id="submitBid">Submit Bid</button>
          </div>
          {{/if}}
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container my-4" id="current-bid">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="m-0">Current Bids</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 offset-2" id="bid-list">
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bid.js"></script>
<script async defer <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTbS7SNpGMxfTjkNT-8yiuRJ4S7QZ51K4&callback=initMap" async
  defer></script>
<script src="../js/maps.js"></script>